*,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #454589;
  display: flex;
  flex-direction: column;

}

#topbar,
#bottombar {
  display: block;
  width: 66%;
  height: 3px;
  background-color: #132421;
  color: #DEDEFF;
  font-family: 'Chakra Petch', sans-serif;
  display: flex;
  justify-content: space-between;
  /* border: solid thin  #87150d; */

}

#topbar {
  border-width: 0px 0px 4px 0px;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 0px 0px 10px 10px;
  align-self: flex-start;
}
#bottombar {
  border-width: 4px 0px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: flex-end;
}

#filler {
  flex: 1 0 auto;
}

.item {

  background-color: #242829;
  border-style: solid;
  border-color: #6b1616;
  font-size: 24px;
  overflow: hidden;
  text-shadow: 5px 3px 10px rgba(0,0,0,1);

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  /* padding: 10px 30px; */
}

#topbar .item {
  border-style: solid;
  border-width: 0px 2px 6px 2px;
  border-radius: 0px 0px 10px 10px;
  vertical-align: bottom;
  text-align: center;
}

#bottombar .item {
  border-width: 6px 1px 0px 1px;
  border-radius: 10px 10px 0px 0px;
  display:flex;
  justify-content: center;
  align-content: center;
}

#clock {
  /* justify-self: flex-end; */
  text-align:center;
  letter-spacing: 4px;
  padding: 0px 20px;
}

#logo {
  width: 60px;
  height: 60px;
  border: solid 2px #6b1616;
  border-radius: 100%;
  /* margin: 5px 0px 5px 30px; */
  box-shadow: 0px 3px 50px 10px rgba(0,0,0,0.8);
  margin-left: 10px;
}

#titleBlock{
  margin: 10px;
}

#titleBlock h2{
  font-size: 48px;
  margin: 0;
}


#titleBlock p{
  font-size: 24px;
}

#placeholder {
  width: 1920px;
  height: 1080px;
  position:absolute;
  top:0;
  z-index: -10;
}

#clock {
  width: 150px;
  font-family: "Open Sans";
  font-size: 32px;
}

/* Debugging */

#filler{
  /* Comment this line to show the placeholder image */
  visibility: hidden; 
  display: grid;

}
#filler img{
  max-width: 100%;
  max-height: 100vh;
}